<form class="form-horizontal">
    <legend>Car Details</legend>
    <div class="control-group">
        <label class="control-label">VIN</label>
        <div class="controls">
            {{car.vin}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Model</label>
        <div class="controls">
            {{car.model}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Customer</label>
        <div class="controls">
            {{car.customer}}
        </div>
    </div>
</form>
